{% extends 'base.html' %}
{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<h2>Welcome Admin, {{ profile.user.username }}</h2>

<div class="card-grid">
    <a href="{% url 'employee_list' %}" class="dashboard-card">
        <h3>Employee List</h3>
        <p>View all employees</p>
    </a>

    <a href="{% url 'attendance_admin' %}" class="dashboard-card">
        <h3>Attendance Records</h3>
        <p>View all employees' attendance</p>
    </a>

    <a href="{% url 'leave_approval' %}" class="dashboard-card">
        <h3>Leave Approvals</h3>
        <p>Approve or reject requests</p>
    </a>

    <a href="{% url 'payroll_view' %}" class="dashboard-card">
        <h3>Payroll</h3>
        <p>Manage employee salaries</p>
    </a>

    <a href="{% url 'logout' %}" class="dashboard-card">
        <h3>Logout</h3>
    </a>
</div>
{% endblock %}
